body, html {
    height: 100vh;
    background: url("../images/snow.png") repeat;
    font-family: 'Charmonman', cursive;
    display: flex;
    flex-direction: column;
}

header {
    height: auto;
}


footer {
    height: auto;
    background: purple;
}

.nav-link {
    font-size: 36px;
    margin: 0px 5vw;
}

.nav-item {
    margin: 5px 0px;
}

.nav-mobile {
    display: none;
}

.nav-lg {
    display: flex;
}

.gallery-button {
    height: 50%;
}

@media only screen and (max-width: 980px) {
    .nav-link {
        font-size: 32px;
        margin: 0px 3vw;
    }
}

@media only screen and (max-width: 768px) {
    .nav-link {
        font-size: 28px;
        margin: 0px 2vw;
    }

}

@media only screen and (max-width: 640px) {

    .nav-link {
        font-size: 18px;
        margin: 0px 1vw;
    }

}

@media only screen and (max-width: 380px) {
    .nav-lg {
        display: none;
    }

    .nav-mobile {
        display: flex;
        text-align: center;
    }

    .nav-link {
        font-size: 16px;
    }

    .nav-item {
        margin: 0px 2em;
    }
}